.header{
    background-image: url("../images/h_img.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem;
    margin-bottom: 40px;
}
#mouse{
    margin-top: 1cm;
    margin-bottom: 0cm;
}
.aboutus{
    text-align: center;
}
.service{
    background-image: url("../images/c_image.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem;
    margin-bottom: 40px;
}
.row{
    text-align: center;
}
.contact{
    background-image: url("../images/c_images.jpg");
    color: white;
    background-size: cover;

}
input[type=text], input[type=email]{
background: transparent;
}
#textarea{
    background: transparent;
};
.required::-webkit-input-placeholder {
    color: white;
  }
  .social{
      text-align: center;
  }
  #design2 {
      display: none;
  }
  .work4 {
      position: relative;
  }
  .black {
      position: absolute;
      display: none;
      border: 2px solid white;
      border-top: 4px;
      text-align: center;
  }
  #dev2{
      display: none;
  }
  #product2{
      display:none;
  }
.message-form{
     background: transparent;
 }
.form-group{
     background: transparent;
 }
#input1,#input2,#comment{
    background-color: transparent;
}
